body {
	/* background-image: linear-gradient(to bottom, #101010, rgb(131, 126, 126)); */
	background-image: url("main/bgimg.svg");
	background-color: rgb(24, 24, 24);
	background-size: cover;
	min-height: 1080px;
	color: rgb(218, 206, 206);
}
.material-icons-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
	font-size: 35px;
	border-radius: 8px;
	background-color: rgb(74, 74, 74);
}
.material-icons-outlined:hover {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
	font-size: 35px;
	border-radius: 8px;
	background-color: rgb(132, 20, 20);
}
.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
	font-size: 20px;
	border-radius: 8px;
}
#phinis .material-symbols-outlined:hover {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
	border-radius: 8px;
	background-color: rgb(132, 20, 20);
}
.center {
	margin: auto;
	width: fit-content;
	padding: 3px;
	text-align: center;
}
.center_sized {
	margin: auto;
	text-align: center;
}
.dropbtn {
	background-color: #4caf50;
	color: rgb(132, 20, 20);
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(215, 221, 225, 0.445);
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 8px;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: rgb(132, 20, 20);
	border-radius: 8px;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.menu {
	width: fit-content;
	height: fit-content;
	border-radius: 8px;
	text-align: center;
	border-width: 4px;
	border-color: rgba(204, 0, 0, 0.161);
	border-style: solid;
	background-color: rgba(66, 0, 0, 0.398);
}
#menubutton {
	display: none;
}
#menubutton:checked ~ .menu {
	display: none;
}
#menueff1 {
	float: left;
	display: none;
	margin-right: 8px;
}
#menueff1:checked ~ .menu1 {
	float: left;
	display: none;
	margin-right: 8px;
}
#menueff2 {
	float: left;
	display: none;
	margin-right: 8px;
}
#menueff2:checked ~ .menu2 {
	float: left;
	display: none;
	margin-right: 8px;
}
#menueff3 {
	float: left;
	display: none;
	margin-right: 8px;
}
#menueff3:checked ~ .menu3 {
	float: left;
	display: none;
	margin-right: 8px;
}
#menueff4 {
	float: left;
	display: none;
	margin-right: 8px;
}
#menueff4:checked ~ .menu4 {
	float: left;
	display: none;
	margin-right: 8px;
}
.textos {
	text-decoration: underline;
	text-rendering: auto;
	margin-top: 4px;
	margin-bottom: 8px;
	font-size: x-large;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
}
.text2 {
	text-decoration: none;
	text-rendering: auto;
	text-shadow: 2px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: larger;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 200;
	font-style: oblique;
}
.fancier {
	border-radius: 8px;
	background-color: rgba(174, 0, 0, 0.669);
	border-color: rgb(42, 0, 0);
	text-emphasis-color: white;
}
.colorpicker {
	width: 100px;
	height: 30px;
	background-color: rgba(174, 0, 0, 0.669);
	border-color: rgb(0, 71, 77);
	border-radius: 8px;
}
